<%- include('header') %>

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <form id="reset-password-form">
                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="alert alert-warning">
                                        <i class="fa fa-info-circle "></i> After changing password session will automatically logout and You will be redirect to login page
                                    </div>
                                </div>



                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="inp-with-icon">
                                            <input type="password" name="password" placeholder="New Password" class="form-control">
                                            <i class="fas fa-lock"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="inp-with-icon">
                                            <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control">
                                            <i class="fas fa-lock"></i>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </form>
                        <button type="button" class="btn btn-custom btn-block" onclick="changepassword()">Submit</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <script>
        async function changepassword() {
            var formFields = {};
            var registerFields = $("#reset-password-form").serializeArray();

            registerFields.map((mp) => {
                formFields[mp.name] = mp.value;
            });
            let data = await ajaxRequest({
                url: "/api/user/reset-password",
                method: "POST",
                body: formFields,
            });
            if (data.success) {
                Swal.fire("User", data.data, "success").then(() => {
                    location.href = "/login";
                });
                // location.href = "/dashboard";
            } else {
                Swal.fire("User", data.error, "error");
            }

        }
    </script>
    <%- include('footer') %>